<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzmr.traintimeback.mapper.TrainMapper">
    <insert id="insert">
        insert into train(train_number, type, departure_station, terminal, departure_time, arrival_time, cost_time,
                          route_site, route_time_a, route_time_e)
        VALUES (#{trainNumber}, #{type}, #{departureStation}, #{terminal}, #{departureTime}, #{arrivalTime},
            #{costTime}, #{routeSite}, #{routeTimeA}, #{routeTimeE})
    </insert>


    <select id="getByNumberLike" resultType="com.zzmr.traintimeback.entity.Train">
        select *
        from train
        where train_number like concat('%',#{trainNumber},'%');
    </select>
</mapper>